.cartLogo {
	font-size: 2.3rem;
	color: #ff6b00;
	cursor: pointer;
}

.cartCount {
	font-weight: 700;
	font-size: 1.7rem;
	color: #ff6b00;
	margin-left: 0.7rem;
}

@media screen and (min-width: 768px) {
	.container-cart {
		margin-right: 4.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.container-cart {
		margin-right: 6rem;
	}
	.cartLogo {
		font-size: 2.5rem;
	}

	.cartCount {
		font-size: 1.9rem;
	}
}

@media screen and (min-width: 1300px) {
	.container-cart {
		margin-right: 8rem;
	}
}
