.itemDetail {
  width: 100%;
  text-align: center;
}
.itemDetail-img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.itemDetail-text {
  color: #ff6b00;
  margin-top: 0.6rem;
}
.itemDetail-text--title {
  font-size: 2.2rem;
  font-weight: 900;
}
.itemDetail-text--description {
  width: 85%;
  margin: 0.4rem auto;
  font-size: 1.1rem;
  font-weight: 200;
}
.itemDetail-text--buy {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: -0.3rem;
}

.itemDetail a {
  display: block;
  width: 13rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ff6b00;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 12px;
  transition: all 200ms ease;
}
.itemDetail a:hover {
  box-shadow: 0px 0px 10px #ff6b00;
}

.icon {
  margin-right: 0.6rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 650px) {
  .itemDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .itemDetail-img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 16px;
  }
  .itemDetail-text {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .itemDetail-text--title {
    font-size: 2.8rem;
  }
  .itemDetail-text--description {
    width: 80%;
    font-size: 1.2rem;
  }
  .itemDetail-text--buy {
    font-size: 3.4rem;
    margin: 0.6rem 0 0.2rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .itemDetail-text--title {
    font-size: 3rem;
  }
  .itemDetail-text--description {
    width: 70%;
  }
  .itemDetail-text--buy {
    font-size: 3.4rem;
    margin: 0.8rem 0 0.4rem 0;
  }
}
