.itemListContainer {
  text-align: center;
}

.containerTitle {
  background-color: #ff6b00;
  width: 23.8rem;
  font-size: 3rem;
  font-weight: 800;
  margin: 2rem auto 4rem auto;
  padding: 0.8rem 0rem;
  box-shadow: 10px 12px 0px #eb965a;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text-loading {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #ff6b00;
  border-top: none;
  border-right: none;
  transition: all 200ms ease;
  animation: loading 500ms ease infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1300px) {
  .containerTitle {
    margin-top: 3.5rem;
  }
}
